# Ignorar carpetas de compilación
Debug/
Release/
x64/
x86/
.vs/

# Archivos de proyecto de Visual Studio (opcionales)
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Archivos binarios o temporales
*.exe
*.obj
*.dll
*.pdb
*.log
*.tmp
